{% extends "base.html" %}
{% block subject %}Reset your QuillCV password{% endblock %}
{% block body %}
<h1>Reset your password</h1>
<p>Hi {{ name }},</p>
<p>
  We received a request to reset the password for your QuillCV account.
  Click the button below to choose a new password.
</p>

<a href="{{ reset_url }}" class="btn">Reset password</a>

<p style="font-size:13px; color:#71717f; margin-top:8px;">
  Or paste this link into your browser:<br>
  <a href="{{ reset_url }}" style="color:#5b52e0; word-break:break-all;">{{ reset_url }}</a>
</p>

<div class="info-box">
  This link expires in <strong>{{ expires_minutes }} minutes</strong>.
  If you don't reset your password within that time, you'll need to request a
  new link.
</div>

<hr class="divider">

<p style="font-size:14px; color:#71717f;">
  If you didn't request a password reset, you can safely ignore this email.
  Your password will not change until you click the link above.
</p>
{% endblock %}
